{
  "tabWidth": 2,
  "useTabs": true,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "printWidth": 120,
  "overrides": [
    {
      "files": "*",
      "options": {
        "proseWrap": "always",
        "requirePragma": true,
        "insertPragma": true,
        "endOfLine": "auto"
      }
    }
  ]
}